<script type="text/javascript">
            var p = 5
            var neg = 10
            var neu = 15 
</script>

<div id="piechart" style="width: 900px; height: 500px;"></div>

<div class="row">
  <div class="column">
    <!-- <img src="https://i.redd.it/21k36k3rwj221.jpg" alt="Snow" style="width:100%"> -->
    <img src="/static/figs/pie.png" alt="pie" style="width:100%">
  </div>
  <div class="column">
    <!-- <img src="https://i.redd.it/21k36k3rwj221.jpg" alt="Forest" style="width:100%"> -->
    <img src="/static/figs/density.png" alt="density" style="width:100%">
  </div>
</div>

<div class="row">
  <div class="column">
    <img src="/static/figs/tagcloud.png" alt="tagcloud" style="width:100%">
  </div>
  <div class="column">
    <img src="/static/figs/heatmap.png" alt="heatmp" style="width:100%">
  </div>
</div>



<!-- {% for i in range(analytics|length) %}
  {% if i % 3 == 0 %}
  {% endif %}
{% endfor %} -->
