<form action="{{url_for('search')}}" id="form" action="." method="POST">
	{% if filters['lang_f'] == "" %}
		{% set lang_f = "Language" %}
	{% endif %}

	{% if filters['topic_f'] == "" %}
		{% set topic_f = "Topic" %}
	{% endif %}

	{% if filters['city_f'] == "" %}
		{% set city_f = "City" %}
	{% endif %}

	{% if filters['date_f'] == "" %}
		{% set date_f = "Date" %}
	{% endif %}

	{% if filters['facet_f'] == "" %}
		{% set facet_f = "Facet" %}
	{% endif %}

	<select name="lang_f">
	  <option value="" selected disabled hidden>Language</option>
	  <option value="en">English</option>
	  <option value="es">Spansih</option>
	  <option value="hi">Hindi</option>
	  <option value="fr">French</option>
	  <option value="th">Thai</option>
	</select>
	<br><br>

	<select name="topic_f">
	  <option value="" selected disabled hidden>Topic</option>
	  <option value="politics">Politic</option>
	  <option value="crime">Crime</option>
	  <option value="environment">Environment</option>
	  <option value="infra">Infrastructure</option>
	  <option value="social unrest">Social Unrest</option>
	</select>
	<br><br>

	<select name="city_f">
	  <option value="" selected disabled hidden>City</option>
	  <option value="nyc">NYC</option>
	  <option value="mexico city">Mexico City</option>
	  <option value="delhi">Delhi</option>
	  <option value="paris">Paris</option>
	  <option value="bangkok">Bangkok</option>
	</select>
	<br><br>

	<select name="facet_f">
	  <option value="" selected disabled hidden>Facet</option>
	  <option value="en">English</option>
	  <option value="es">Spansih</option>
	  <option value="hi">Hindi</option>
	  <option value="fr">French</option>
	  <option value="th">Thai</option>
	</select>
<!-- 	<div class="btn-group">
		<button class="btn btn-primary dropdown-toggle"  name="lang_f" type="submit" data-toggle="dropdown">Language
		<span class="caret"></span></button>
		<ul id="lang_f" class="dropdown-menu">
	      <input class="form-control" id="myInput" name="lang_f" type="text" placeholder="{{ lang_f }}">
	      <li><a href="#">English</a></li>
	      <li><a href="#">Spanish</a></li>
	      <li><a href="#">Hindi</a></li>
	      <li><a href="#">French</a></li>
	      <li><a href="#">Thai</a></li>
	    </ul>
	</div>
    <br><br> -->

<!--     <div class="btn-group">
	    <button class="btn btn-primary dropdown-toggle"  name="topic_f" type="button" data-toggle="dropdown">Topic
		<span class="caret"></span></button>
		<ul id="topic_f" class="dropdown-menu">
	      <input class="form-control" id="myInput" name="topic_f" type="text" placeholder="{{ topic_f }}">
	      <li><a href="#">Politics</a></li>
	      <li><a href="#">Crime</a></li>
	      <li><a href="#">Environment</a></li>
	      <li><a href="#">Infrastructure</a></li>
	      <li><a href="#">Social Unrest</a></li>
	    </ul>
	</div>
    <br><br> -->

<!--     <div class="btn-group">
	    <button class="btn btn-primary dropdown-toggle"  name="city_f" type="button" data-toggle="dropdown">City
		<span class="caret"></span></button>
		<ul id="city_f" class="dropdown-menu">
	      <input class="form-control" id="myInput" name="city_f" type="text" placeholder="{{ city_f }}">
	      <li><a href="#">NYC</a></li>
	      <li><a href="#">Mexico City</a></li>
	      <li><a href="#">Delhi</a></li>
	      <li><a href="#">Paris</a></li>
	      <li><a href="#">Bangkok</a></li>
	    </ul>
	</div>
    <br><br> -->

<!--     <div class="btn-group">
	    <button class="btn btn-primary dropdown-toggle"  name="facet_f" type="button" data-toggle="dropdown">Facet
		<span class="caret"></span></button>
		<ul id="facet_f" class="dropdown-menu">
	      <input class="form-control" id="myInput" name="facet_f" type="text" placeholder="{{ facet_f }}">
	      <li><a href="#">NYC</a></li>
	      <li><a href="#">Mexico City</a></li>
	      <li><a href="#">Delhi</a></li>
	      <li><a href="#">Paris</a></li>
	      <li><a href="#">Bangkok</a></li>
	    </ul>
	</div>
    <br> -->


    <div class="btn-group">
		<br>from:<br>
		<input type="date" name="date_f1">
		<br>to:<br>
		<input type="date" name="date_f2">
	</div>
	<br><br>

	<input type="hidden" name="lang_f" value="{{ lang_f }}">
	<input type="hidden" name=key_word value="{{ query }}">
	<button class="btn btn-primary" type="submit" role="button">filter</button>
</form>