{% extends "layout.html" %}

{% block body %}
	<br>
	<h2>bird babble</h2>

	<div class="container">
		<div class="nav">
			<form action="{{url_for('search')}}" id="form" action="." method="POST">
				<div class = "inputBox">
	            	<input type="text" name="key_word" placeholder="" size ="50" value="{{ query }}">
	            	<input type="hidden" name="lang_f" value="">
		            <input type="hidden" name="topic_f" value="">
		            <input type="hidden" name="city_f" value="">
		            <input type="hidden" name="date_f1" value="">
		            <input type="hidden" name="date_f2" value="">
		            <input type="hidden" name="facet_f" value="">
		    	    <button class="btn btn-primary btn-info" type="submit" role="button">fetch</button>
		    	    {% if sp_corr != query %}
		    	    	<br>
		    	    	<input type="hidden" name="key_word" value="{{ sp_corr }}"> Did you mean: 
		    	    	<button class="btn btn-info" type="submit" role="button">{{ sp_corr }}</button>
		    	    {% endif %}
		    	</div>
		  	</form>
	    </div>
	</div>

	<div class="container">
	    <ul class="nav nav-tabs" id="myTab">
			  <li class="active"><a href="#search">Search</a></li>
			  <li><a href="#analytics">Analytics</a></li>
		</ul>
		<br>
	</div>	    

	<div class="group">
		<aside>
			{% include "filters.html" %}
		</aside>

		<section>
			<div class="tab-content">
				<div class="tab-pane active" id="search">
					{% include "results.html" %}
				</div>
				<div class="tab-pane" id="analytics">
					{% include "analytics.html" %}
				</div>
			</div>
		</section>

		<aside>
			<div class="jumbotron">
				<u><b>Trending</b></u>
				<br> <a href="https://twitter.com/hashtag/hi">#hi</a><br>
			</div>
		</aside>
	</div>

{% endblock %}